<%- include("header") -%>



  <center>

<h1>the students in this course are</h1>

<%  rows.forEach(function(student){ %>
  <ul>
    <li><h1><%=student.name%></h1></li>
  </ul>
  <% }) %>

  <a href="/attendance/<%=coursename%>"><h1>show attendance</h1></a>
  <a href="/takeattendance/<%=coursename%>"><h1>take attendance</h1></a>
  <a href="/facerecognition/<%=coursename%>"><h1>facerecog-attendance</h1></a>



  </center>



















<%- include("footer") -%>
