<%- include("header") -%>


   <center>
   <h1> Welcome  <%=studentname %> </h1>
   <br><br>
  <h1>MY courses </h1>
  <br><br>

  <div class="">
      <%  rows.forEach(function(course){ %>
        <ul>
          <li><a href="/student / <%=course.coursename%> / <%=studentname %> "><h1><%=course.coursename%></h1></a></li>
        </ul>
        <% }) %>

  </div>
</center>










<%- include("footer") -%>
